.centtre {
    text-align: center;
    color: red;

}

.centre {
    text-align: center;
}

.bouton {
    background-color: rgb(102, 233, 15);
    color: rgb(198, 7, 7);
    padding: 10px 90px;
    font-size: 50;
}
